/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05-dic-2019, 13:20:09
    Author     : Usuario
*/

.background{
    background: aliceblue;
    height: 940px;
}

.min{
max-width: 450px;
}

.login-container{
        border: 1px solid #d3daf355;
    padding: 1.4rem;
    border-radius: 5px;
    background: #fff;
}
